.dialogue.confirm {
    position     : relative;
    max-width    : 440px;
    width        : 100%;
    margin       : auto;
    background   : #161616;
    border       : 1px solid #3C3C3C;
    box-sizing   : border-box;
    border-radius: 8px;

    >.close-container {
        width          : 100%;
        display        : flex;
        justify-content: flex-end;
        padding        : 27px;
        padding-bottom : 13px;
        cursor         : pointer;
    }

    >h2 {
        font-size    : 24px;
        margin-bottom: 16px;
    }

    >p {
        font-weight: 400;
        font-size  : 16px;
        line-height: 23px;
        padding    : 0px 50px 50px 50px;
    }

    >.button-container {
        width          : 100%;
        display        : flex;
        justify-content: flex-end;

        >button {
            width        : 100%;
            font-weight  : 400;
            font-size    : 16px;
            line-height  : 23px;
            padding      : 12px 0px;
            color        : #161616;
            background   : linear-gradient(108.53deg, #F3C754 0%, #E58F35 100%);
            border-radius: 0px 0px 8px 8px;

            &:hover {
                background: white;
            }
        }
    }
}